Repository BF-FrontEnd-class/agile-development-group4-hyf-rebuild, pull requests merged in 2023-05, with the labels that each got.

#10 added user personas
  .cspell.json
  .vscode/settings.json
  planning/user-personas.md
  public/alex-green.png
  public/fernando-stevenson.png
Labels: md, planning

#12 add design
  planning/design.md
  public/img/alex-green.png
  public/img/design.png_1.png
  public/img/design.png_2.png
  public/img/design.png_3.png
  public/img/fernando-stevenson.png
Labels: md, planning

#11 update constraints
  .cspell.json
  .vscode/settings.json
  planning/constraints.md
Labels: md, planning

#15 Backlog
  planning/backlog.md
Labels: md, planning

#16 add development-strategy
  planning/development-strategy.md
Labels: md, planning

#17 add project definition
  README.md
Labels: md, planning

#28 update communication2
  planning/communication.md
Labels: md

#40 add program.html
  .cspell.json
  pages/program.html
Labels: html, Program page

#43 added css files
  styles/about.css
  styles/digitalents.css
  styles/faq.css
  styles/home.css
  styles/index.css
  styles/program.css
  styles/support.css
  styles/volunteer.css
Labels: css

#39 update home.css
  .cspell.json
Labels: css, Home page

#48 added can apply. added font's link to home.css
  pages/program.html
  styles/home.css
  styles/program.css
Labels: html, css, Home page, Program page

#50 added section nine-month
  pages/program.html
  public/img/css.svg
  public/img/html.svg
  public/img/js.svg
  public/img/nodejs.svg
  public/img/react.svg
  public/img/sql-lite.svg
  styles/program.css
Labels: html, css, Program page

#52 add logo and nav bar
  .cspell.json
  index.html
  package.json
  public/img/A-partner.png
  public/img/UxAntwerp-partner.png
  public/img/Zeynep.png
  public/img/agoria-partner.png
  public/img/arteveldehogeschool.png
  public/img/axxes-partner.png
  public/img/bruxellesEconomieEtEmploi-partner.png
  public/img/bruxellexFormation.png
  public/img/commitment.png
  public/img/community.png
  public/img/culture-volunteer.png
  public/img/dataCampDonate-partner.png
  public/img/digitalBelgium-partner.png
  public/img/diversity.png
  public/img/duoForAJob-partner.png
  public/img/edouardo.png
  public/img/education-volunteer.png
  public/img/epitechTechnology-partner.png
  public/img/facebook-logo.png
  public/img/github-logo.png
  public/img/home-ourProgram-image.png
  public/img/knowledge-volunteer.png
  public/img/linkdin-logo.png
  public/img/logo.png
  public/img/member-partner.png
  public/img/microsoft.png
  public/img/network-volunteer.png
  public/img/open.png
  public/img/openRecoginition-partner.png
  public/img/printSimple-partner.png
  public/img/tagline-image.png
  public/img/twitter-logo.png
  public/img/vboFeb-partner.png
  styles/home.css
Labels: html, css

#57 Digitalents
  .cspell.json
  pages/digitalents.html
  public/img/digitalent-program.png
  styles/digitalents.css
Labels: html, css

#64 add contact form
  index.html
  styles/home.css
Labels: html, css

#61 About
  .cspell.json
  pages/about.html
  public/img/Daniel.png
  public/img/Lizhen.png
  public/img/diverse community-about.png
  public/img/empowerment .png
  public/img/hind.png
  public/img/history.png
  public/img/mission.png
  public/img/samir.png
  public/img/team.png
  public/img/vision.png
  styles/about.css
Labels: html, css

#65 004 program add final section
  .cspell.json
  pages/program.html
  public/img/career.png
  public/img/facebook.svg
  public/img/final-project.png
  public/img/github.svg
  public/img/linkedin.svg
  public/img/mentorship.png
  public/img/twitter.svg
  styles/program.css
Labels: html, css, Program page

#69 update link
  pages/volunteer.html
Labels: html, css

#72 005 update links photo user personas
  README.md
  pages/program.html
  planning/README.md
  planning/user-personas.md
  public/alex-green.png
  public/fernando-stevenson.png
Labels: md, html

#71 Home header
  index.html
  styles/home.css
Labels: html

#76 Digitalents
  pages/digitalents.html
Labels: html

#77 add volunteer pages
  pages/volunteer.html
  styles/volunteer.css
Labels: html, css

#79 add changes
  pages/volunteer.html
Labels: html, css, Volunteer page

#78 added decoration and delet another-page.html
  pages/another-page.html
  pages/program.html
  public/img/Screenshot at 2023-05-12 11-03-15.png
  styles/program.css
Labels: html, css, Program page

#82 Digitalents
  pages/digitalents.html
  styles/digitalents.css
Labels: html, css

#83 update holder
  styles/program.css
Labels: html, css, Program page

#84 Project definition
  .cspell.json
  planning/screenshot.jpg
Labels: planning

#86 update viewport main block
  .cspell.json
  styles/program.css
Labels: html, css, Program page

#89 add retrospective2
  planning/retrospective.md
Labels: md
